
 <div class="row" style="margin: 5px; border-radius:10px;background-color: #fff;height: 100%;;padding: 5px;">
    <div class="column">
    <ag-grid-angular
    style=" height:99%;"
    class="ag-theme-alpine "
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    rowSelection="multiple"
  >
  
  </ag-grid-angular>
</div>
<div class="column">
  <ag-grid-angular
  style=" height:99%;"
  class="ag-theme-alpine "
  [rowData]="rowData2"
  [columnDefs]="columnDefs2"
  rowSelection="multiple"
>


</ag-grid-angular>
</div>
  </div>
  